.containerCategoryItem {
    display: 'flex';
    flex-direction: row;
    width: 100%;
    cursor: pointer;
}

.wrapImage {
    border-radius: 24px;
    height: auto;
    border-width: 0px;
    border: 0px solid grey;
    background: #F8F9FA;
    height: 200px;
}

.containerImage {
    padding-top: 20;
    padding-bottom: 20;
    height: 200px;
    width: 100%;
}

.styleNameCate {
    font-size: 16;
    font-weight: bold;
    text-align: center;
}

.containerCategoryItem:hover .styleNameCate {
    font-size: 16;
    font-weight: bold;
    color: #1967D2;
    text-align: center;
}
